.round-results {
  width: 50%;
  text-align: center;
  border: 1px solid grey;
  border-collapse: collapse;
}
.round-results td {
  padding: 10px;
}

.first-team {
  width: 40%;
  border: 1px solid grey;
}

.first-team-goals {
  width: 10%;
  border: 1px solid grey;
}

.second-team {
  width: 40%;
  border: 1px solid grey;
}

.second-team-goals {
  width: 10%;
  border: 1px solid grey;
}
