.round-select-wrapper {
  margin-bottom: 10px;
}

.round-select {
  width: 100px;
}

.round-results {
  width: 50%;
  text-align: center;
  border: 1px solid grey;
  border-collapse: collapse;
}
.round-results td {
  padding: 10px;
  border: 1px solid grey;
}

.first-team {
  width: 40%;
}

.first-team-goals {
  width: 10%;
}

.second-team {
  width: 40%;
}

.second-team-goals {
  width: 10%;
}
